/* general body and basic text styles */

body {
    background-color: #F7F7F7;
    font-family: "Courier New";
    position: relative;
}

h1 {
    color: #B31B1B;
}

p {
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}

table, th {
   border: 1px solid black;
}

td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

a {
  color: inherit;
  text-decoration: inherit;
}

select, button {
    margin: 3px;
    font-family: inherit;
    background-color : #F7F7F7
}

/* styles for the header and footer */

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footerLink {
    color : #B31B1B;
}

/* styles for the schedule and information tables */

#scheduleTable {
    width: 100%;
}

#scheduleDiv {
    width: 75%;
    height: 500px;
    overflow-y: scroll;
    float: left;
}

#courseInfoTable {
    width: 100%;
}

#courseInfoDiv {
    overflow-y: auto;
    float: right;
    width: 23%;
    height: 500px;
}

/* styles for row and column headers in the schedule table */

.timeCell {
    width: 10%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0;
    border-bottom: 0;
}

.dayHeaderCell {
    width: 18%;
}

/* styles for cells in the schedule table */

.fiveMinute{
    color : #F7F7F7;
    height: 4px;
    border: 0;
    padding: 0px;
}

.grayHour {
    background-color: #D3D3D3;
}

.whiteHour {
    background-color: #F7F7F7;
}

.boxLabel {
    height: 100%;
    width: 100%;
    position: relative;
}

.boxLabel > p {
    position: absolute;
    color: #F7F7F7;
    top: 0;
}

/* styles for the cells in the information table */

.courseInputCell, .courseInfoCell {
    width: 250px;
    height: 75px;
    border: 1px solid black;
    color : #F7F7F7;
}

/* styles for the courseInput cells */

#courseInput1 {
    background-color : #B31B1B; /* carnellian */
}

#courseInput2 {
    background-color : #073949; /* navy */
}

#courseInput3 {
    background-color : #629632; /* green */
}

#courseInput4 {
    background-color : #F8981D; /* orange */
}

#courseInput5 {
    background-color : #006699; /* blue */
}

#courseInput6 {
    background-color : #9370DB; /* purple */
}
