<html>
    <head>
        <title>ezra</title>
        <link rel="StyleSheet" type="text/css" href="../static/css/index.css">

        <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </head>

    <body>
        <h1>
            welcome to <a href="https://en.wikipedia.org/wiki/Ezra_Cornell"
            target="_blank">ezra</a>, the ez roster assistant.
        </h1>
        <p>
            ezra is a scheduling app that knows about degree requirements.
            get started by adding some courses on the right.
        </p>

        <div id="scheduleDiv">
            <table id="scheduleTable">
                <tr>
                    <th></th>
                    <th class="dayHeaderCell">monday</th>
                    <th class="dayHeaderCell">tuesday</th>
                    <th class="dayHeaderCell">wednesday</th>
                    <th class="dayHeaderCell">thursday</th>
                    <th class="dayHeaderCell">friday</th>
                </tr>

                {% for i in range(8, 21) %}

                {% if i > 12 %}
                {% set h = i - 12 %}
                {% else %}
                {% set h = i %}
                {% endif %}

                {% if i % 2 == 0 %}
                {% set c = 'grayHour' %}
                {% else %}
                {% set c = 'whiteHour' %}
                {% endif %}

                {% for j in range(12) %}

                    <tr>
                        {% if j == 0 %}
                            <td rowspan="12" class="timeCell {{ c }}">{{h|string + ':00'}}</td>
                        {% endif %}

                        {% for k in range(5) %}
                            <td class="fiveMinute {{ c }}"></td>
                        {% endfor %}

                    </tr>

                {% endfor %}
                {% endfor %}

            </table>
        </div>

        <div id="courseInfoDiv">
            <table id="courseInfoTable">
                <tr>
                    <th>class info</th>
                </tr>

                {% for i in range(0, 6) %}
                <tr>
                    <td id="courseInput{{ i + 1 }}" class="courseInputCell">
                        click to add a class
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="footer">
            <p>
                found a bug? report it <b><a class="footerLink" target="_blank"
                href="https://github.com/dsconnelly/ezra/issues">here</a></b>!
            </p>
        </div>
    </body>
</html>
