<html>
    <head>
        <title>ezra</title>
        <link rel="StyleSheet" type="text/css" href="../static/css/index.css">

        <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </head>

    <body>
        <h1>welcome to ezra, the ez roster assistant.</h1>
        <p>
            ezra is a scheduling app that knows about degree requirements. get
            started by adding some courses on the right.
        </p>

        <table align="center" id="scheduleTable">
            <tr>
                <th></th>
                <th class="dayHeaderCell">monday</th>
                <th class="dayHeaderCell">tuesday</th>
                <th class="dayHeaderCell">wednesday</th>
                <th class="dayHeaderCell">thursday</th>
                <th class="dayHeaderCell">friday</th>
                <th>class info</th>
            </tr>

            {% for i in range(18) %}

            {% if i % 2 == 0 %}
            {% set h = ((i / 2) + 8)|int %}
            <tr>
                <td rowspan="2">{{h|string + ':00'}}</td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                {% if i % 3 == 0 %}
                <td rowspan=3 class="classInfoCell" contenteditable>click to add a class</td>
                {% endif %}
            </tr>
            {% else %}
            <tr>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                <td class="hhblock"></td>
                {% if i % 3 == 0 %}
                <td rowspan=3 class="classInfoCell" contenteditable>click to add a class</td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}

        </table>

    </body>
</html>
