<html>
    <head>
        <title>ezra</title>
        <link rel="StyleSheet" type="text/css" href="../static/css/index.css">

        <script type="text/javascript" src="../static/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="../static/js/index.js"></script>
    </head>

    <body>
        <h1>welcome to <a href="https://en.wikipedia.org/wiki/Ezra_Cornell">ezra</a>, the ez roster assistant.</h1>
        <p>
            ezra is a scheduling app that knows about degree requirements. get
            started by adding some courses on the right.
        </p>

        <table align="center" id="scheduleTable">
            <tr>
                <th></th>
                <th class="dayHeaderCell">monday</th>
                <th class="dayHeaderCell">tuesday</th>
                <th class="dayHeaderCell">wednesday</th>
                <th class="dayHeaderCell">thursday</th>
                <th class="dayHeaderCell">friday</th>
            </tr>

            {% for i in range(8, 17) %}
            <tr>
                <td rowspan="12" class="timeCell">{{i|string + ':00'}}</td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
            </tr>

            {% for j in range(1, 12) %}

            {% if j == 5 or j == 11 %}
            <tr>
                <td class="fiveMinuteBot"></td>
                <td class="fiveMinuteBot"></td>
                <td class="fiveMinuteBot"></td>
                <td class="fiveMinuteBot"></td>
                <td class="fiveMinuteBot"></td>
            </tr>
            {% elif j == 6 %}
            <tr>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
                <td class="fiveMinuteTop"></td>
            </tr>
            {% else %}
            <tr>
                <td class="fiveMinute"></td>
                <td class="fiveMinute"></td>
                <td class="fiveMinute"></td>
                <td class="fiveMinute"></td>
                <td class="fiveMinute"></td>
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}

        </table>

        <table id="courseInfoTable">
            <tr>
                <th>class info</th>
            </tr>

            {% for i in range(0, 6) %}
            <tr>
                <td id="courseInput{{ i + 1 }}" class="courseInputCell">
                    click to add a class
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>
